[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
mysql-connector-python = "*"
python-dotenv = "*"
python-telegram-bot = "*"
apscheduler = "*"
my-shared-utils = {ref = "v1.3.1", git = "https://github.com/dinyelum/my-shared-utils.git"}

[dev-packages]

[requires]
python_version = "3.13"
